In [3]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/melbourne-housing-snapshot/melb_data.csv

Missing values   
* Drop columns with NaN
* Imputation
* Extension to imputation

**Load modules and data**

In [4]:
import pandas as pd
from sklearn.model_selection import train_test_split

# Load the data
data = pd.read_csv('/kaggle/input/melbourne-housing-snapshot/melb_data.csv')

/opt/conda/lib/python3.10/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.5
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [5]:
# check the data, look for missing values
print(data.head())                       # review data, missing values
print("_" * 70)
print(data.dtypes, type(data.dtypes))    # what are the column types?
print("_" * 70)
data.dtypes.value_counts()               # column_type - count

       Suburb           Address  Rooms Type      Price Method SellerG  \
0  Abbotsford      85 Turner St      2    h  1480000.0      S  Biggin
1  Abbotsford   25 Bloomburg St      2    h  1035000.0      S  Biggin
2  Abbotsford      5 Charles St      3    h  1465000.0     SP  Biggin
3  Abbotsford  40 Federation La      3    h   850000.0     PI  Biggin
4  Abbotsford       55a Park St      4    h  1600000.0     VB  Nelson

        Date  Distance  Postcode  ...  Bathroom  Car  Landsize  BuildingArea  \
0  3/12/2016       2.5    3067.0  ...       1.0  1.0     202.0           NaN
1  4/02/2016       2.5    3067.0  ...       1.0  0.0     156.0          79.0
2  4/03/2017       2.5    3067.0  ...       2.0  0.0     134.0         150.0
3  4/03/2017       2.5    3067.0  ...       2.0  1.0      94.0           NaN
4  4/06/2016       2.5    3067.0  ...       1.0  2.0     120.0         142.0

   YearBuilt  CouncilArea Lattitude  Longtitude             Regionname  \
0        NaN        Yarra  -37.7996    144.9984  Northern Metropolitan
1     1900.0        Yarra  -37.8079    144.9934  Northern Metropolitan
2     1900.0        Yarra  -37.8093    144.9944  Northern Metropolitan
3        NaN        Yarra  -37.7969    144.9969  Northern Metropolitan
4     2014.0        Yarra  -37.8072    144.9941  Northern Metropolitan

  Propertycount
0        4019.0
1        4019.0
2        4019.0
3        4019.0
4        4019.0

[5 rows x 21 columns]
______________________________________________________________________
Suburb            object
Address           object
Rooms              int64
Type              object
Price            float64
Method            object
SellerG           object
Date              object
Distance         float64
Postcode         float64
Bedroom2         float64
Bathroom         float64
Car              float64
Landsize         float64
BuildingArea     float64
YearBuilt        float64
CouncilArea       object
Lattitude        float64
Longtitude       float64
Regionname        object
Propertycount    float64
dtype: object <class 'pandas.core.series.Series'>
______________________________________________________________________

float64    12
object      8
int64       1
dtype: int64

**What is the model going to predict?**

In [6]:
# The model will predict the 'Price' of the dataset 
y = data.Price

**Prepare features(predictors)**   
Will only use numeric type columns as predictors

In [7]:
melb_predictors = data.drop(['Price'], axis=1)         # drop column 'Price', being target column
X = melb_predictors.select_dtypes(exclude=['object'])  # as-per the requirement, keep only numeric / boolean valued columns

In [8]:
# check the new filtered data frames with predictors(features)
X
# The predictors are ready

,Rooms,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
0,2,2.5,3067.0,2.0,1.0,1.0,202.0,NaN,NaN,-37.79960,144.99840,4019.0
1,2,2.5,3067.0,2.0,1.0,0.0,156.0,79.0,1900.0,-37.80790,144.99340,4019.0
2,3,2.5,3067.0,3.0,2.0,0.0,134.0,150.0,1900.0,-37.80930,144.99440,4019.0
3,3,2.5,3067.0,3.0,2.0,1.0,94.0,NaN,NaN,-37.79690,144.99690,4019.0
4,4,2.5,3067.0,3.0,1.0,2.0,120.0,142.0,2014.0,-37.80720,144.99410,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...
13575,4,16.7,3150.0,4.0,2.0,2.0,652.0,NaN,1981.0,-37.90562,145.16761,7392.0
13576,3,6.8,3016.0,3.0,2.0,2.0,333.0,133.0,1995.0,-37.85927,144.87904,6380.0
13577,3,6.8,3016.0,3.0,2.0,4.0,436.0,NaN,1997.0,-37.85274,144.88738,6380.0
13578,4,6.8,3016.0,4.0,1.0,5.0,866.0,157.0,1920.0,-37.85908,144.89299,6380.0
13579,4,6.3,3013.0,4.0,1.0,1.0,362.0,112.0,1920.0,-37.81188,144.88449,6543.0

**Split data into training and validation subsets**

In [9]:
X_train, X_valid, y_train, y_valid = train_test_split(X, y, train_size=0.8, test_size=0.2, random_state=0)

In [10]:
# the data seems it's splited correctly
print(X_train)
print(y_train)
print(X_valid)
print(y_valid)

       Rooms  Distance  Postcode  Bedroom2  Bathroom  Car  Landsize  \
12167      1       5.0    3182.0       1.0       1.0  1.0       0.0
6524       2       8.0    3016.0       2.0       2.0  1.0     193.0
8413       3      12.6    3020.0       3.0       1.0  1.0     555.0
2919       3      13.0    3046.0       3.0       1.0  1.0     265.0
6043       3      13.3    3020.0       3.0       1.0  2.0     673.0
...      ...       ...       ...       ...       ...  ...       ...
13123      3       5.2    3056.0       3.0       1.0  2.0     212.0
3264       3      10.5    3081.0       3.0       1.0  1.0     748.0
9845       4       6.7    3058.0       4.0       2.0  2.0     441.0
10799      3      12.0    3073.0       3.0       1.0  1.0     606.0
2732       4       6.4    3011.0       4.0       2.0  1.0     319.0

       BuildingArea  YearBuilt  Lattitude  Longtitude  Propertycount
12167           NaN     1940.0  -37.85984   144.98670        13240.0
6524            NaN        NaN  -37.85800   144.90050         6380.0
8413            NaN        NaN  -37.79880   144.82200         3755.0
2919            NaN     1995.0  -37.70830   144.91580         8870.0
6043          673.0     1970.0  -37.76230   144.82720         4217.0
...             ...        ...        ...         ...            ...
13123           NaN        NaN  -37.77695   144.95785        11918.0
3264          101.0     1950.0  -37.74160   145.04810         2947.0
9845          255.0     2002.0  -37.73572   144.97256        11204.0
10799           NaN        NaN  -37.72057   145.02615        21650.0
2732          130.0     1915.0  -37.79430   144.88750         7570.0

[10864 rows x 12 columns]
12167     481000.0
6524      895000.0
8413      651500.0
2919      482500.0
6043      591000.0
           ...
13123    1280000.0
3264      915000.0
9845     1020000.0
10799     760000.0
2732     1225000.0
Name: Price, Length: 10864, dtype: float64
       Rooms  Distance  Postcode  Bedroom2  Bathroom  Car  Landsize  \
8505       4       8.0    3016.0       4.0       2.0  2.0     450.0
5523       2       6.6    3011.0       2.0       1.0  0.0     172.0
12852      3      10.5    3020.0       3.0       1.0  1.0     581.0
4818       3       4.5    3181.0       2.0       2.0  1.0     128.0
12812      3       8.5    3044.0       3.0       2.0  2.0     480.0
...      ...       ...       ...       ...       ...  ...       ...
2664       2       6.4    3011.0       2.0       1.0  1.0      47.0
8513       4       8.0    3016.0       4.0       2.0  4.0     551.0
12922      3      10.8    3105.0       3.0       1.0  1.0     757.0
10761      4       6.2    3039.0       4.0       1.0  3.0     478.0
2110       2       1.6    3066.0       2.0       1.0  2.0     159.0

       BuildingArea  YearBuilt  Lattitude  Longtitude  Propertycount
8505          190.0     1910.0  -37.86100   144.89850         6380.0
5523           81.0     1900.0  -37.81000   144.88960         2417.0
12852           NaN        NaN  -37.76740   144.82421         4217.0
4818          134.0     2000.0  -37.85260   145.00710         7717.0
12812           NaN        NaN  -37.72523   144.94567         7485.0
...             ...        ...        ...         ...            ...
2664           35.0     2013.0  -37.80140   144.89590         7570.0
8513            NaN        NaN  -37.85790   144.87860         6380.0
12922           NaN        NaN  -37.78094   145.10131         4480.0
10761         152.0     1925.0  -37.76421   144.90571         6232.0
2110           86.0     1880.0  -37.79620   144.98870         4553.0

[2716 rows x 12 columns]
8505     2165000.0
5523      815000.0
12852     610000.0
4818     1245000.0
12812    1160000.0
           ...
2664      305000.0
8513     1412000.0
12922    1230000.0
10761    1270000.0
2110     1000000.0
Name: Price, Length: 2716, dtype: float64

**Try Three approaches with the model and compare the prediction peformance of each model**

In [11]:
# Approach 1 - Dropping columns with NaN

# What columns have missing values?
cols_with_missing = [col for col in X_train.columns if X_train[col].isnull().any()] # if any element in the column is null, then True
print("The columns with missing values: ", cols_with_missing) 
print("_" * 70)

# Drop the colums in both training and validation dataset
reduced_X_train = X_train.drop(cols_with_missing, axis=1)
reduced_X_valid = X_valid.drop(cols_with_missing, axis=1)
print(reduced_X_train) 
print("_" * 70)

print(reduced_X_valid) 
print("_" * 70)

The columns with missing values:  ['Car', 'BuildingArea', 'YearBuilt']
______________________________________________________________________
       Rooms  Distance  Postcode  Bedroom2  Bathroom  Landsize  Lattitude  \
12167      1       5.0    3182.0       1.0       1.0       0.0  -37.85984
6524       2       8.0    3016.0       2.0       2.0     193.0  -37.85800
8413       3      12.6    3020.0       3.0       1.0     555.0  -37.79880
2919       3      13.0    3046.0       3.0       1.0     265.0  -37.70830
6043       3      13.3    3020.0       3.0       1.0     673.0  -37.76230
...      ...       ...       ...       ...       ...       ...        ...
13123      3       5.2    3056.0       3.0       1.0     212.0  -37.77695
3264       3      10.5    3081.0       3.0       1.0     748.0  -37.74160
9845       4       6.7    3058.0       4.0       2.0     441.0  -37.73572
10799      3      12.0    3073.0       3.0       1.0     606.0  -37.72057
2732       4       6.4    3011.0       4.0       2.0     319.0  -37.79430

       Longtitude  Propertycount
12167   144.98670        13240.0
6524    144.90050         6380.0
8413    144.82200         3755.0
2919    144.91580         8870.0
6043    144.82720         4217.0
...           ...            ...
13123   144.95785        11918.0
3264    145.04810         2947.0
9845    144.97256        11204.0
10799   145.02615        21650.0
2732    144.88750         7570.0

[10864 rows x 9 columns]
______________________________________________________________________
       Rooms  Distance  Postcode  Bedroom2  Bathroom  Landsize  Lattitude  \
8505       4       8.0    3016.0       4.0       2.0     450.0  -37.86100
5523       2       6.6    3011.0       2.0       1.0     172.0  -37.81000
12852      3      10.5    3020.0       3.0       1.0     581.0  -37.76740
4818       3       4.5    3181.0       2.0       2.0     128.0  -37.85260
12812      3       8.5    3044.0       3.0       2.0     480.0  -37.72523
...      ...       ...       ...       ...       ...       ...        ...
2664       2       6.4    3011.0       2.0       1.0      47.0  -37.80140
8513       4       8.0    3016.0       4.0       2.0     551.0  -37.85790
12922      3      10.8    3105.0       3.0       1.0     757.0  -37.78094
10761      4       6.2    3039.0       4.0       1.0     478.0  -37.76421
2110       2       1.6    3066.0       2.0       1.0     159.0  -37.79620

       Longtitude  Propertycount
8505    144.89850         6380.0
5523    144.88960         2417.0
12852   144.82421         4217.0
4818    145.00710         7717.0
12812   144.94567         7485.0
...           ...            ...
2664    144.89590         7570.0
8513    144.87860         6380.0
12922   145.10131         4480.0
10761   144.90571         6232.0
2110    144.98870         4553.0

[2716 rows x 9 columns]
______________________________________________________________________

**Define a helper function to evaluate the model performance, to be used for each model with different approaches (handling missing values), using Random Forest model from scikit-learn, MAE method**

In [12]:
# modules
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

# function to build a rnadom forest model and return MAE performance
def score_dataset(X_train, X_valid, y_train, y_valid):
    model = RandomForestRegressor(n_estimators=10, random_state=0)   # create a model
    model.fit(X_train, y_train)   # train the model
    preds = model.predict(X_valid)      # model prediction
    return mean_absolute_error(y_valid, preds)   # return MEA evaluation of real resut vs prediction

In [13]:
# Approach 1 - Simply drop the columns with missing values
print("MAE from Approach 1 (Drop columns with missing values):")
print(score_dataset(reduced_X_train, reduced_X_valid, y_train, y_valid))

MAE from Approach 1 (Drop columns with missing values):
183550.22137772635

In [14]:
# Approach 2 - Imputation - Fill the missing values with imputation 'strategy'
# the process of filling in missing values with appropriate replacements, enabling the data to be used effectively in machine learning algorithms.
from sklearn.impute import SimpleImputer

# Imputation
imputer = SimpleImputer() # default strategy='mean'

# fit the imputer into the data and transform the data - train, valid dataset both
# Be aware the df will loose column names after imputation
# Make the imputed dataset as DataFrame, so you can restore columns to it, otherwise it will remain ans ndarray
imputed_X_train = pd.DataFrame(imputer.fit_transform(X_train))
imputed_X_valid = pd.DataFrame(imputer.fit_transform(X_valid))
#print(imputed_X_train.columns)
#print(imputed_X_train)
#print(imputed_X_valid.columns)
#print(imputed_X_valid)

# Restore the column names for the imputed data (ndarray)
imputed_X_train.columns = X_train.columns
imputed_X_valid.columns = X_valid.columns
#print(imputed_X_train.columns)
#print(imputed_X_train)
#print(imputed_X_valid.columns)
#print(imputed_X_valid)

# Evaluate the model using the helper function
print("MAE from Approach 2 (Imputation): ")
print(score_dataset(imputed_X_train, imputed_X_valid, y_train, y_valid))

# Note that WApproach 2 has lower MAE than Approach 1, so Approach 2 performed better on this dataset

MAE from Approach 2 (Imputation):
179816.89508731329

**Note that Approach 2 has lower MAE than Approach 1, so Approach 2 performed better on this dataset**

In [37]:
# Approach e - Extension to Imputation - Apply Imputation as approach2, with indication for the columns that are imputed

# Work with copies of the original datasets, Will add flag comlumns to them.
X_train_plus = X_train.copy()
X_valid_plus = X_valid.copy()

# What columns are you imputing? Make new columns to mark them with Boolean value.
# Any column with null value(NaN) will be imputed.
# Make new colums for them, and mark with Boolean value
for col in cols_with_missing:
    X_train_plus[col + '_was_missing'] = X_train[col].isnull()  # True if the cell(value) was null
    X_valid_plus[col + '_was_missing'] = X_valid[col].isnull()  # True if the cell(value) was null

# Check the relevant columns quickly and verify if the values are correct, side-by-side
X_train_plus.loc[:,cols_with_missing + [col+'_was_missing' for col in cols_with_missing]]
# The new columns look good.

# Now impute the columns with missing values as Approach 2.
imputer = SimpleImputer()
imputed_X_train_plus = pd.DataFrame(imputer.fit_transform(X_train_plus))
imputed_X_valid_plus = pd.DataFrame(imputer.fit_transform(X_valid_plus))

# Restore columns to the new df, where lost during imputation
imputed_X_train_plus.columns = X_train_plus.columns
imputed_X_valid_plus.columns = X_valid_plus.columns

# Check the new df's quickly
imputed_X_train_plus
imputed_X_valid_plus
# Now see, no NaN columns and new flag columns with 1 or 0 values

# Evaluate the model using the helper function
print("MAE from Approach 3 (An Extension to Imputation):")
print(score_dataset(imputed_X_train_plus, imputed_X_valid_plus, y_train, y_valid))
# Now see that Approach 3 performed slightly worse than Approach 2.

MAE from Approach 3 (An Extension to Imputation):
179986.2708570026

**Now see that Approach 3 performed slightly worse than Approach 2.**

**So, why did imputation perform better than dropping the columns?**    
> The training data has 10864 rows and 12 columns, where three columns contain missing data. For each column, less than half of the entries are missing. Thus, dropping the columns removes a lot of useful information, and so it makes sense that imputation would perform better.

In [47]:
print(df.shape)   # the shape of the df
print("_" * 70)

df = X_train.isnull()   # true / false for each cell of X_train df
print(df) 
print("_" * 70)

missing_val_count_by_column = X_train.isnull().sum()   # add up all 1's (=True), aggregated by each column label
print(missing_val_count_by_column[missing_val_count_by_column > 0])   # filter and get the columns with missing values
print(type(missing_val_count_by_column))

(10864, 12)
______________________________________________________________________
       Rooms  Distance  Postcode  Bedroom2  Bathroom    Car  Landsize  \
12167  False     False     False     False     False  False     False
6524   False     False     False     False     False  False     False
8413   False     False     False     False     False  False     False
2919   False     False     False     False     False  False     False
6043   False     False     False     False     False  False     False
...      ...       ...       ...       ...       ...    ...       ...
13123  False     False     False     False     False  False     False
3264   False     False     False     False     False  False     False
9845   False     False     False     False     False  False     False
10799  False     False     False     False     False  False     False
2732   False     False     False     False     False  False     False

       BuildingArea  YearBuilt  Lattitude  Longtitude  Propertycount
12167          True      False      False       False          False
6524           True       True      False       False          False
8413           True       True      False       False          False
2919           True      False      False       False          False
6043          False      False      False       False          False
...             ...        ...        ...         ...            ...
13123          True       True      False       False          False
3264          False      False      False       False          False
9845          False      False      False       False          False
10799          True       True      False       False          False
2732          False      False      False       False          False

[10864 rows x 12 columns]
______________________________________________________________________
Car               49
BuildingArea    5156
YearBuilt       4307
dtype: int64
<class 'pandas.core.series.Series'>

# As is common, imputing missing values (in Approach 2 and Approach 3) yielded better results, relative to when we simply dropped columns with missing values (in Approach 1).